.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background: #1c1c1c;
  width: 100%;
  min-width: 0;
  padding: 64px 64px 14px;
}
.freeBox__vucyt {
  display: flex;
  position: relative;
  max-width: var(--token-9tMYA6Ipzi7U);
  flex-direction: row;
  width: 100%;
  min-width: 0;
}
.freeBox__vucyt > :global(.__wab_flex-container) {
  flex-direction: row;
  min-width: 0;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
}
.freeBox__vucyt > :global(.__wab_flex-container) > *,
.freeBox__vucyt > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vucyt > :global(.__wab_flex-container) > picture > img,
.freeBox__vucyt
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__vucyt {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__vucyt > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__vucyt > :global(.__wab_flex-container) > *,
  .freeBox__vucyt > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__vucyt > :global(.__wab_flex-container) > picture > img,
  .freeBox__vucyt
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 64px;
  }
}
.columns {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 0px;
}
.columns > :nth-child(4n + 1) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns > :nth-child(4n + 2) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 2 / 12);
}
.columns > :nth-child(4n + 3) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 2 / 12);
}
.columns > :nth-child(4n + 4) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 2 / 12);
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    align-self: center;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column___3B6Ed {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px 8px 8px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .column___3B6Ed {
    justify-content: center;
  }
}
.freeBox__ma9Ky {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.logo:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: auto;
  left: auto;
  top: auto;
  right: auto;
  width: auto;
}
@media (min-width: 0px) and (max-width: 930px) {
  .logo:global(.__wab_instance) {
    align-self: center;
    margin-top: 0px;
  }
}
.text__xN58C {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  color: #eeeeee80;
  font-family: "Montserrat", sans-serif;
  padding-top: 21px;
  align-self: flex-start;
  text-align: left;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text__xN58C {
    text-align: center;
  }
}
.freeBox__alrd0 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 32px 0px 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__alrd0 {
    align-self: center;
    justify-content: center;
  }
}
.svg___1IAb {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffffffd9;
  width: auto;
  height: 1em;
}
.svg__sjg4 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffffffd9;
  margin-left: 24px;
  height: 1em;
}
.svg___6PJm {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffffffd9;
  margin-left: 24px;
  height: 1em;
}
.svg__wThv4 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffffffd9;
  margin-left: 24px;
  height: 1em;
}
.column__o3H0N {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .column__o3H0N {
    justify-content: center;
  }
}
.h4__dYvOt {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-align: left;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .h4__dYvOt {
    text-align: center;
  }
}
.button__rygXv:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 26px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button__rygXv:global(.__wab_instance) {
    align-self: center;
  }
}
.svg__jZl7T {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text___2BOb {
  color: #92959b;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text___2BOb {
    text-align: center;
  }
}
.svg___0XClg {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__fr3Jb:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 20px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button__fr3Jb:global(.__wab_instance) {
    align-self: center;
  }
}
.svg__m1Xt {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__h27E {
  color: #92959b;
}
.svg__uLUsm {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__zlfcW:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 20px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button__zlfcW:global(.__wab_instance) {
    align-self: center;
  }
}
.svg__lvvyx {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__t0Bb4 {
  color: #92959b;
}
.svg__ry1D1 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button___0JwYc:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 20px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button___0JwYc:global(.__wab_instance) {
    align-self: center;
  }
}
.svg__mS1G8 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__n5Z9W {
  color: #92959b;
}
.svg__b8Yk {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.column__axjjw {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .column__axjjw {
    justify-content: center;
  }
}
.h4__lwEkn {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-align: left;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .h4__lwEkn {
    align-self: center;
    text-align: center;
  }
}
.button__a71KS:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 26px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button__a71KS:global(.__wab_instance) {
    align-self: center;
  }
}
.svg__dg1TJ {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__kTzrd {
  color: #92959b;
}
.svg__pWiom {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button___1An7L:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 20px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button___1An7L:global(.__wab_instance) {
    align-self: center;
  }
}
.svg__ji0V7 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__dxn2C {
  color: #92959b;
}
.svg__xrCrE {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.column__zdFgC {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .column__zdFgC {
    justify-content: center;
  }
}
.h4__k0Rhd {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-align: left;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .h4__k0Rhd {
    align-self: center;
    text-align: center;
  }
}
.button__wZrTv:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 26px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button__wZrTv:global(.__wab_instance) {
    align-self: center;
  }
}
.svg___1ZHbF {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text___4WLrB {
  color: #92959b;
}
.svg__iaAgh {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__iedvV:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 20px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button__iedvV:global(.__wab_instance) {
    align-self: center;
  }
}
.svg__eeiug {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__akiZf {
  color: #92959b;
}
.svg__tdtJm {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__lhoIz:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 20px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button__lhoIz:global(.__wab_instance) {
    align-self: center;
  }
}
.svg__aLoRg {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__ubXk7 {
  color: #92959b;
}
.svg__eFj7Y {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.freeBox__rzc2Z {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 0px 20px;
}
.text__nquYw {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  padding-top: 206px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text__nquYw {
    padding-top: 129px;
  }
}
